.sidebar {
    width: 35%;
    height: 100%,
    overflow: auto;
    position: fixed;
    top: 10%;
    right: 130px;
}

table {
    margin: 25px;
}  

h3 {
    margin-top 40x;
}

h4{
    margin-top 15px;
}

@media (max-width: 760px){
    .sidebar{
        display: none;
    }
}
